.search-box {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.search-box input {
    width: 40rem;
    height: 3rem;
    font-size: 1.5rem;
    padding: 0 2rem;
    margin: 7rem .5rem 2rem;
}

#searchBtn {
    width: 15rem;
}

@media only screen and (max-width: 833px) {
    .search-box input {
        width: 100%;
        margin: 0 2rem;
    }
}