.navigation {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #9e9e9e;
    padding: 0 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation .brand {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.navigation .brand a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-icon {
    font-size: 2rem;
    display: none;
    padding-top: .5rem;
    cursor: pointer;
}

.navigation-link {
    text-decoration: none;
    color: black;
    padding-left: .7rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 833px) {
    .navigation {
        padding: 0 2rem;
    }

    .navigation-link {
        display: none;
    }

    .navigation-icon {
        display: block;
    }

    .navigation .brand {
        font-size: 1.5rem;
    }
}